<footer class="footer footer-dark mt-auto py-3">
  <div class="container py-1 my-1">
    <div class="row align-items-center">

      <div class="col-md-4 text-center text-md-start">
        <a href="{{ .Site.Home.RelPermalink }}" class="footer-logo-link">
          <img src="{{ .Site.Params.mainMenuLogo | relURL }}" alt="Logo" class="footer-logo">
        </a>
      </div>

      <div class="col-md-4 text-center">
        <p class="mb-0 text-muted small-text">{{ .Site.Copyright | safeHTML }}</p>
      </div>

      <div class="col-md-4 text-center text-md-end">
        <ul class="nav justify-content-center justify-content-md-end">
          {{ range .Site.Menus.footer -}}
          <li class="nav-item">
            <a href="{{ .URL }}" class="nav-link px-2 text-muted small-text">{{ .Name }}</a>
          </li>
          {{ end -}}
        </ul>
      </div>

    </div>
  </div>
</footer>
