{{ define "main" }}

<section class="section py-5">
  <div class="container">
    <h2 class="text-center mb-5">Documentos Fundacionales</h2>
    {{ partial "transparencia/foundational-docs.html" . }}
  </div>
</section>

<section class="section py-5">
  <div class="container">
    <h2 class="text-center mb-5">Directorio 2023-2025</h2>
    {{ partial "transparencia/directory-members" . }}
  </div>
</section>

<section class="section py-5">
  <div class="container">
    <h2 class="text-center mb-5">Registros Oficiales</h2>
    {{ partial "transparencia/registros-oficiales.html" . }}
  </div>
</section>

{{ .Content }}

{{ end }}
