<div class="accordion" id="reportsAccordion">
  {{/* We now loop through the more generic 'documents' data file */}}
  {{ range $index, $group := .Site.Data.transparencia.documents }}
    {{/* Generate unique IDs. Using 'urlize' on the title is a robust way to create a safe ID */}}
    {{ $groupId := $group.group_title | urlize }}
    {{ $collapseId := printf "collapse-%s" $groupId }}
    {{ $headingId := printf "heading-%s" $groupId }}

    <div class="accordion-item">
      <h2 class="accordion-header" id="{{ $headingId }}">
        <button class="accordion-button {{ if ne $index 0 }}collapsed{{ end }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $collapseId }}" aria-expanded="{{ eq $index 0 }}" aria-controls="{{ $collapseId }}">
          {{ $group.group_title }}
        </button>
      </h2>
      <div id="{{ $collapseId }}" class="accordion-collapse collapse {{ if eq $index 0 }}show{{ end }}" aria-labelledby="{{ $headingId }}" data-bs-parent="#reportsAccordion">
        <div class="accordion-body">
          <ul>
            {{ range $group.documents }}
              <li><a href="{{ .url | relURL }}">{{ .title }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  {{ end }}
</div>
