<div class="d-flex justify-content-end mb-3">
  <button id="toggleAccordion" class="btn btn-primary" type="button" data-state="collapsed">
    Expandir Todos
  </button>
</div>

<div class="accordion accordion-styled" id="reportsAccordion">
  {{/* We now loop through the more generic 'documents' data file */}}
  {{ range $index, $group := .Site.Data.transparencia.registros_oficiales }}
    {{/* Generate unique IDs. Using 'urlize' on the title is a robust way to create a safe ID */}}
    {{ $groupId := $group.group_id }}
    {{ $collapseId := printf "collapse-%s" $groupId }}
    {{ $headingId := printf "heading-%s" $groupId }}

    <div class="accordion-item">
      <h2 class="accordion-header" id="{{ $headingId }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $collapseId }}" aria-expanded="false" aria-controls="{{ $collapseId }}">
          {{ $group.group_title }}
        </button>
      </h2>
      <div id="{{ $collapseId }}" class="accordion-collapse collapse" aria-labelledby="{{ $headingId }}">
        <div class="accordion-body">
          <ul>
            {{ range $group.documents }}
              <li><a href="{{ .url | relURL }}">{{ .title }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  {{ end }}
</div>
